Client Onboarding System/Workflows/Client Onboarding System.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "content": "# 👥 Workflow 2: Client Filtering & Slack Onboarding Workflow\n\n## This workflow ensures that **only new clients** are identified and onboarded properly by following these steps:\n\n# 1. Fetch Airtable Records\n- ## Retrieve all records where `Added_to_Channel = FALSE`.\n\n## 2. Loop Over Each Client\n- ## Process each client record individually for precise control.\n- ## Extract key information:\n  - ## Client name\n  - ## Email address\n  - ## Record ID\n  - ## Slack channel ID\n  - ## Slack channel Email\n\n# 3. Get Slack User ID\n- ## Use **Slack `users.lookupByEmail` API** with the client’s email.\n- ## Filter the API response to get a valid Slack ID.\n# 4. Loop and IF Logic Management\n- ## Send the output from both the set node where the slack id and is_in_workspace extracted and 'Extract record id, Slack channel id and link, email, client name1' set node\n  ## to the merge node.\n- ## Then we flatten all the combination down into one array using the code node and then we use the if which checks if that client exist in the worksapce or not.\n- ## If yes, then it will invite the user via slack api call converstaion.invite to ther private channel, post the welcome message \n  ## into the slack private channel for that client, update airtable variable add to their channel and send the message with the private channel link for them.\n- ## IF no, then  it wills end a remnider email to the client saying join the workapce so that we can add you to the private channel.",
        "height": 1088,
        "width": 4048
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6928,
        -3216
      ],
      "typeVersion": 1,
      "id": "442a1d7a-60c8-4548-918b-3a1725a63815",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5952,
        -3088
      ],
      "id": "1cb243aa-3f9f-481a-96fd-78d72cf2aa73",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5536,
        -3104
      ],
      "id": "495b5af0-7c01-4615-b6ee-be4eac3d222c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// Merge all JSON objects into one without explicit loops\nconst merged = Object.assign({}, ...items.map(item => item.json));\n\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4512,
        -3088
      ],
      "id": "3ebd7c72-dfd7-4ed9-ad0d-1a8a0d9de052",
      "name": "Flatten done into one single Array4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4208,
        -2704
      ],
      "id": "a24f4478-c149-41de-b2ca-e413f77337aa",
      "name": "Wait",
      "webhookId": "f28db941-e4a6-4910-9c6f-61be1c970a30"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblPZ9YBNGjWy6HFb",
          "mode": "list",
          "cachedResultName": "All Projects List",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblPZ9YBNGjWy6HFb"
        },
        "filterByFormula": "={Add to their channel?} = FALSE()",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -5776,
        -3088
      ],
      "id": "c2defbd3-4a09-4a3e-8bd8-ab5675c1976f",
      "name": "Get only those records which aren't in their private channel1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee00e620-7ebd-401d-84c4-aeddd319a442",
              "name": "Record id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "2754e54c-6fa6-40db-9a65-9363846ee01d",
              "name": "Slack Channel Link",
              "value": "={{ $json[\"Slack Channel Link\"] }}",
              "type": "string"
            },
            {
              "id": "d8d93dc5-3011-43c9-8de2-ae11dfcb1142",
              "name": "Slack Channel ID",
              "value": "={{ $json[\"Slack Channel ID\"] }}",
              "type": "string"
            },
            {
              "id": "ccca63b7-85a3-4b53-bf9a-3ef0f9c6ac53",
              "name": "Email?",
              "value": "={{ $json[\"Email?\"] }}",
              "type": "string"
            },
            {
              "id": "412a5197-5000-4ff0-a4de-baa956851d0c",
              "name": "Client Full Name?",
              "value": "={{ $json[\"Client Full Name?\"] }}",
              "type": "string"
            },
            {
              "id": "e763c37d-3552-4381-aedb-11b484be1f42",
              "name": "Billing Email?",
              "value": "={{ $json[\"Billing Email?\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5264,
        -3088
      ],
      "id": "4bf61379-a3ed-4f6e-9194-c81a14728dad",
      "name": "Extract record id, Slack channel id and link, email, client name1"
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.lookupByEmail?email={{ $json[\"Email?\"] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5040,
        -3200
      ],
      "id": "c652ff19-8764-42fc-b802-a6213b75db68",
      "name": "Get the user Slack ID1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f41e4bf-00db-4a4a-b02a-76bde1697fd4",
              "name": "Slack ID",
              "value": "={{ $json.user.id }}",
              "type": "string"
            },
            {
              "id": "f392661f-4ecb-4277-91df-1c78d904d1a8",
              "name": "=is_in_workspace",
              "value": "={{ $json.ok.toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4832,
        -3216
      ],
      "id": "1aff7e51-7a9a-41a1-98c2-fea2f86e6a71",
      "name": "Extract Slack ID of User1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4656,
        -3088
      ],
      "id": "3748d58a-d217-46c4-a6be-793cef554eb8",
      "name": "Merge5"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblPZ9YBNGjWy6HFb",
          "mode": "list",
          "cachedResultName": "All Projects List",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblPZ9YBNGjWy6HFb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_in_workspace?": true,
            "Add to their channel?": true,
            "id": "={{ $json[\"Record id\"] }}",
            "Slack Id": "={{ $json[\"Slack ID\"] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client - Project",
              "displayName": "Client - Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Name?",
              "displayName": "Project Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Full Name?",
              "displayName": "Client Full Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role of the Contact Person?",
              "displayName": "Role of the Contact Person?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email?",
              "displayName": "Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name?",
              "displayName": "Company Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Date of Project?",
              "displayName": "Start Date of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deadline of Project?",
              "displayName": "Deadline of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Budget?",
              "displayName": "Budget?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Currency Type",
              "displayName": "Currency Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Status?",
              "displayName": "Invoice Status?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice ID",
              "displayName": "Invoice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel Link",
              "displayName": "Slack Channel Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Drive Folder Link?",
              "displayName": "Drive Folder Link?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel ID",
              "displayName": "Slack Channel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VAT number",
              "displayName": "VAT number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Objective?",
              "displayName": "Project Objective?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Account ID",
              "displayName": "Invoice Account ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "is_in_workspace?",
              "displayName": "is_in_workspace?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slack Id",
              "displayName": "Slack Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Task Table",
              "displayName": "Task Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Task",
              "displayName": "Total Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Completed Task",
              "displayName": "Completed Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Task in Progress",
              "displayName": "Task in Progress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Project Percentage?",
              "displayName": "Project Percentage?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Progress Bar",
              "displayName": "Progress Bar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Update Sent",
              "displayName": "Last Update Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Update Ready",
              "displayName": "Update Ready",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "All Task Summary",
              "displayName": "All Task Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City/Town",
              "displayName": "City/Town",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State/Province/Region",
              "displayName": "State/Province/Region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zip/Postal Code",
              "displayName": "Zip/Postal Code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Billing Email?",
              "displayName": "Billing Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Address",
              "displayName": "Invoice Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate Invoice?",
              "displayName": "Generate Invoice?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Feedback Form",
              "displayName": "Send Feedback Form",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Feedback of User",
              "displayName": "Feedback of User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Add to their channel?",
              "displayName": "Add to their channel?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -3872,
        -2704
      ],
      "id": "bc884ca2-9033-4b52-bbaf-cfa053ad757b",
      "name": "Add Slack ID and flag add to the channel of the record1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/conversations.invite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json[\"Slack Channel ID\"] }}\",\n  \"users\": \"{{ $json[\"Slack ID\"] }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        -3104
      ],
      "id": "9e433281-2f1a-4ee7-846e-439dd5318cb8",
      "name": "Add the Client To the Private Slack Channel1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel.id }}",
          "mode": "id"
        },
        "text": "=Hey there, welcome aboard! \n🎉 We’re super happy to have you on the team. \n\n🚀 This would be your Official Communication Medium with the owner of the project and I'll be keep updating you about the weekly progress of your project, share what you’re working on, and don’t hesitate to reach out if you need anything.\n\nLet’s build something awesome together, in shaa’ Allah ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3680,
        -3104
      ],
      "id": "c91d90d8-2dec-42a5-8f77-a4f157e74a3a",
      "name": "Post Welcome Message to Channel1",
      "webhookId": "d5ee14f2-b1a9-41bb-b008-d827ee914128"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email?\"] }}",
        "subject": "Access Your Private Project Channel on Slack",
        "emailType": "text",
        "message": "=Hi {{ $json[\"Client Full Name?\"] }},\n\nHere’s the link to access your private Slack channel:\n🔗 Private Channel: {{ $json[\"Slack Channel Link\"] }}\n\nThis channel is your dedicated space for all project-related communication. Here's what you can expect:\n\nWeekly project updates will be shared here to keep you informed of progress.\n\nYou can ask your Project Manager any questions directly in this channel.\n\nOnce the project is complete, you’ll also receive a final confirmation and wrap-up message here.\n\nIf you have any trouble accessing the channel, please don’t hesitate to reach out.\n\n\nBest regards,\nProject Manager",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3824,
        -2880
      ],
      "id": "025301cc-2a96-4361-9c75-2def26b9ae80",
      "name": "Email them their Private Channel Link1",
      "webhookId": "2503e215-7006-4704-b4b9-0e9dfeb6389c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90f2271a-43b3-4e86-a5b0-7ebf984b63d0",
              "leftValue": "={{ $json.is_in_workspace }}",
              "rightValue": "=false",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9ff3a2f6-d2a8-4855-b2fe-2eacb97aa5a6",
              "leftValue": "={{ $json[\"Slack ID\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4352,
        -3088
      ],
      "id": "08b2b8e6-5aa4-493f-80c4-25cbc28c4d95",
      "name": "Check if the user is already in the workspace or not1"
    },
    {
      "parameters": {
        "jsCode": "// Merge all JSON objects into one without explicit loops\nconst merged = Object.assign({}, ...items.map(item => item.json));\n\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        -2576
      ],
      "id": "8c0bb7c6-81bd-4022-80a2-011ab8a87449",
      "name": "Flatten done into one single Array5"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3088,
        -2592
      ],
      "id": "94dfdd97-ace3-4959-b1bb-8c6a953f2de6",
      "name": "Merge6"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Contact Email?'] }}",
        "subject": "=Reminder 😪: Join Our Slack Workspace",
        "emailType": "text",
        "message": "=Hi {{ $json[\"Full Name?\"] }},\n\nWe noticed you haven’t joined our Slack workspace yet. 👀\nRemember, your dedicated private channel is already set up and waiting for you—it just needs you.\n\n🔗 Slack Workspace Invite\n{{ $json[\"Workspace Link:\"] }}\n\nOnce you click the link and join, we’ll add you to your channel for smooth project communication. We can then start the project right away.\n\nLooking forward to seeing you inside the workspace soon! 🚀\n\nBest regards,\n[Your Name]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4384,
        -2704
      ],
      "id": "d3984caa-2d7a-497b-9940-68e463479766",
      "name": "Remind Client to join the workspace",
      "webhookId": "8fd65734-d077-421b-aa45-8fe5a4bb5458"
    },
    {
      "parameters": {
        "content": "## ⏰ Schedule Trigger\n\n- ### You can use it according to your own interest. Since this works for all clients project in the Database so you can run this everyday.\n- ### The \"Search Records\" node returns all record from the *All Project List*",
        "height": 384,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5632,
        -1552
      ],
      "typeVersion": 1,
      "id": "85cfd547-7e93-42a5-9ff6-770ad66482eb",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## 📅 Workflow 3: Weekly Project Updates via Slack  \n\n- We loop through each record in the **All Project List** table.  \n- Only records where the **Update Ready** field = `Yes` are selected.  \n\n### 🛠️ How the Update Ready Field Works  \n- A **formula field** in Airtable checks if **7 days** have passed since the last update.  \n- If **≥ 7 days** → `Update Ready = Yes`.  \n- If **< 7 days** → `Update Ready = No`.  \n- The **IF node** in n8n filters records accordingly.  \n\n### 🚀 Update Process  \n1. For eligible projects, update the **Last Weekly Update Sent** field with today’s date.  \n2. Pass project details (Name, Scope, Tasks, Progress) to **Gemini LLM**.  \n3. Gemini generates a structured **weekly update** including:  \n   - ✅ Tasks completed  \n   - 🕑 Tasks in progress  \n   - ⏳ Pending tasks  \n   - 📊 Overall project percentage  \n4. Send the generated update message directly into the client’s **Slack channel**.  \n\n \n",
        "height": 1008,
        "width": 2528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5872,
        -2080
      ],
      "typeVersion": 1,
      "id": "e930a574-dfc7-4317-ae94-d4d3b650a9cf",
      "name": "Sticky Note12"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4304,
        -608
      ],
      "id": "cfdd430c-e6df-4248-80dd-120a37fc7f72",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Merge all JSON objects into one without explicit loops\nconst merged = Object.assign({}, ...items.map(item => item.json));\n\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4144,
        -608
      ],
      "id": "addfc441-0c28-4a53-a99b-16d5ea16ea4b",
      "name": "Flatten done into one single Array"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json['Slack Channel ID'] }}",
          "mode": "id"
        },
        "text": "={{ $json.Message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3808,
        -1648
      ],
      "id": "0a73c820-21f6-453d-b05b-b76a277ceb7b",
      "name": "Send Weekly Update",
      "webhookId": "c30a1a78-3aba-445e-b909-5ad97ef09b73"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-preview-05-20",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-preview-05-20"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant generating a weekly project update for a client. \nHere is the project data:\n\n- Project Name: {{ $json.fields['Project Name?'] }}\n- Client Name: {{ $json.fields['Client Full Name?'] }}\n- Task Summary: {{ $json.fields['All Task Summary'] }}\n- Completed Tasks: {{ $json.fields['Completed Task'] }}\n- In Progress Tasks: {{ $json.fields['Task in Progress'] }}\n- Total Tasks: {{ $json.fields['Total Task'] }}\n- Project Completion Percentage: {{ $json.fields['Project Percentage?'] }}\n- Slack Channel ID: {{ $json.fields['Slack Channel ID'] }}\n\nGenerate a concise weekly update in professional yet friendly tone for the client. \nThe update should:\n\n1. Summarize what has been completed this week.\n2. Highlight any tasks in progress.\n3. Mention total tasks and project completion percentage.\n4. Suggest next steps or focus areas for the coming week (if applicable).\n5. Include **Client Name**, **Project Name**, and **Slack Channel ID** at the top of your response so n8n can route the message correctly.\n6. Be clear and easy for the client to read in Slack.\n\nOutput should be in plain text, ready to send in Slack.\n\nRules:\n1. Replace \"Your weekly update message here\" with the actual text of the weekly update.\n2. Include Client Name and Project Name in the message.\n3. Ensure JSON is valid so n8n can read it directly.\n4. Do not include extra text outside the JSON array.\n\nOutput Format: \n[\n  {\n    \"message\": \"Your weekly update message here including client name, project summary, completion %, etc.\",\n    \"slack_channel_id\": \"{{ $json.fields['Slack Channel ID'] }}\"\n  }\n]\n\nFew Shots Example:\nExample 1:\n[\n  {\n    \"message\": \"Hi John Doe 👋\\n\\nHere’s your weekly update for **Website Redesign Project**:\\n\\n✅ Completed Tasks: Homepage mockup and navigation redesign have been finalized.\\n🚧 In Progress: Product catalog integration is underway.\\n📊 Total Tasks: 12 | Project Completion: 45%\\n\\nNext week, we’ll focus on completing the catalog integration and start working on checkout flow improvements.\\n\\nThanks for your continued collaboration!\",\n    \"slack_channel_id\": \"{{ $json.fields['Slack Channel ID'] }}\"\n  }\n]\n\n[\n  {\n    \"message\": \"Hello Sarah Lee 👋\\n\\nHere’s this week’s progress on **Mobile App Development**:\\n\\n✅ Completed Tasks: Login/Signup flow and user profile setup.\\n🚧 In Progress: Push notification system and in-app chat.\\n📊 Total Tasks: 20 | Project Completion: 35%\\n\\nNext week, the focus will be on wrapping up notifications and kicking off the payment gateway integration.\\n\\nExcited about the momentum we’re building 🚀\",\n    \"slack_channel_id\": \"{{ $json.fields['Slack Channel ID'] }}\"\n  }\n]\n\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -4336,
        -1680
      ],
      "id": "ce9b167e-9f7a-4967-ae04-44ca0b10e38b",
      "name": "Generate Weekly Update "
    },
    {
      "parameters": {
        "jsCode": "// Input: items from previous node (Gemini output)\nlet output = [];\n\n// Loop through each item from Gemini\nitems.forEach(item => {\n    // Get the string with the JSON inside\n    let raw = item.json.content.parts[0].text;\n\n    // Remove ```json wrapping\n    raw = raw.replace(/```json\\s*/, '').replace(/\\s*```$/, '');\n\n    // Parse it as JSON array\n    let parsed;\n    try {\n        parsed = JSON.parse(raw);\n    } catch (err) {\n        throw new Error('Failed to parse Gemini JSON: ' + err);\n    }\n\n    // Map each object in the parsed array to n8n-friendly format\n    parsed.forEach(p => {\n        output.push({\n            json: {\n                Message: p.message,\n                \"Slack Channel ID\": p.slack_channel_id\n            }\n        });\n    });\n});\n\n// Return the properly formatted array\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4016,
        -1664
      ],
      "id": "97d97728-6275-499c-86b3-8a50b3a73f3d",
      "name": "Restructured the Message"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5056,
        -1680
      ],
      "id": "c2694644-d01a-4088-9882-b6d5358789fb",
      "name": "Loop over all Records"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7ac4a36-a3e4-4d28-a06b-6daeafcc0730",
              "leftValue": "={{ $json['Update Ready'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4768,
        -1664
      ],
      "id": "f7592044-97a5-4618-86be-5b6858f11e7b",
      "name": "Check if the Weekly Update is ready or not"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblPZ9YBNGjWy6HFb",
          "mode": "list",
          "cachedResultName": "All Projects List",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblPZ9YBNGjWy6HFb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Last Update Sent": "={{ new Date().toLocaleDateString(\"en-US\") }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Client - Project",
              "displayName": "Client - Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Name?",
              "displayName": "Project Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Full Name?",
              "displayName": "Client Full Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role of the Contact Person?",
              "displayName": "Role of the Contact Person?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email?",
              "displayName": "Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name?",
              "displayName": "Company Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Date of Project?",
              "displayName": "Start Date of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deadline of Project?",
              "displayName": "Deadline of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Budget?",
              "displayName": "Budget?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Initial Deposit?",
              "displayName": "Initial Deposit?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Status?",
              "displayName": "Invoice Status?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel Link",
              "displayName": "Slack Channel Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Drive Folder Link?",
              "displayName": "Drive Folder Link?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel ID",
              "displayName": "Slack Channel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VAT number",
              "displayName": "VAT number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Objective?",
              "displayName": "Project Objective?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "is_in_workspace?",
              "displayName": "is_in_workspace?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Id",
              "displayName": "Slack Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Task Table",
              "displayName": "Task Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Task",
              "displayName": "Total Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Completed Task",
              "displayName": "Completed Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Task in Progress",
              "displayName": "Task in Progress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Project Percentage?",
              "displayName": "Project Percentage?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Progress Bar",
              "displayName": "Progress Bar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Update Sent",
              "displayName": "Last Update Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Update Ready",
              "displayName": "Update Ready",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "All Task Summary",
              "displayName": "All Task Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -4544,
        -1680
      ],
      "id": "01d6d2e4-9360-47de-bb39-87bb9595d484",
      "name": "Update Last date of weekly update sent"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4384,
        -1440
      ],
      "id": "93ba8efe-9392-4cc4-a9b6-d34c298960e7",
      "name": "Wait3",
      "webhookId": "74b8459f-53f6-4f01-ba0b-8da83bbfdcc3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3584,
        -1648
      ],
      "id": "e9554d83-5c81-44bd-ba98-569e60723dc4",
      "name": "Wait1",
      "webhookId": "ef63d1d2-1505-4783-8cfe-e1e4925e1499"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5568,
        -1328
      ],
      "id": "f5f2fe99-05d0-4ef2-b03a-0af9e91394e6",
      "name": "Schedule Trigger(You can adjust it on your own)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblPZ9YBNGjWy6HFb",
          "mode": "list",
          "cachedResultName": "All Projects List",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblPZ9YBNGjWy6HFb"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -5360,
        -1328
      ],
      "id": "e32fe097-c8a0-4a91-b4ce-4c16ee24ffea",
      "name": "Search records"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ String($json.slack_channel_ID).trim() }}",
          "mode": "id"
        },
        "text": "=:  🎉 Congratulations! Your project is complete. To access it, check your email — we’ve sent your invoice there. Once payment is made, your project will be ready for you.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3904,
        -800
      ],
      "id": "e464f32f-c8db-4d69-a77d-54b55e8f62cd",
      "name": "Sending Message that their project is completed",
      "webhookId": "276116d0-453c-4b93-b17f-16429abf40e4"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.query.contact_email }}",
        "subject": "Project Completed! 🎉 Invoice & Next Steps Inside",
        "emailType": "text",
        "message": "=Hi {{ $json.query.client_name }},\n\nWe’re pleased to inform you that your project has been successfully completed. 🎉\n\nPlease find the invoice details below:\n\nPreview Online: [{{ $json.document.public_share_link }}]\n\nDownload PDF: [{{ $json.document.download_url }}]\n\nKindly review the invoice and proceed with payment at your earliest convenience. Once the payment is received, we will promptly deliver the final project files.\n\nThank you for choosing our service. We appreciate your business and look forward to working with you again in the future.\n\nBest regards,\nProject Manager",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3904,
        -608
      ],
      "id": "8e85a5f0-e1ba-419c-8904-36f05b53946e",
      "name": "Sending Invoice",
      "webhookId": "e2a29ffe-07e2-41ed-87a4-abb4e55bf67f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfmonkey.io/api/v1/documents",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"document_template_id\": \"02F892ED-BB98-4A4D-A53D-61FF2095C90A\",\n  \"payload\": {\n    \"client_name\": \"{{ $json.query.client_name }}\",\n    \"client_email\": \"{{ $json.query.client_email }}\",\n    \"address\": \"{{ $json.query.address }}\",\n    \"country\": \"{{ $json.query.country }}\",\n    \"zip_postal_code\": \"{{ $json.query.zip_postal_code }}\",\n    \"project_budget\": \"{{ $json.query.project_budget }}\",\n    \"vat_number\": \"{{ $json.query.vat_number }}\"\n  },\n  \"status\": \"pending\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4976,
        -480
      ],
      "id": "1c6e830b-198b-401f-a523-2bf2913a004f",
      "name": "Sending Data to produce Invoice"
    },
    {
      "parameters": {
        "url": "https://api.pdfmonkey.io/api/v1/documents/33eaaff2-4dbf-411f-9790-1429e7f64720",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4784,
        -480
      ],
      "id": "4e6785e9-6c15-4ed5-b396-2ec37c31d259",
      "name": "Getting Invoice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60b6c935-5047-414e-afb0-b5d9ca2a9bea",
              "name": "document.download_url",
              "value": "={{ $json.document.download_url }}",
              "type": "string"
            },
            {
              "id": "6b504705-db03-41c0-b20e-dd30ca4103fe",
              "name": "document.public_share_link",
              "value": "={{ $json.document.public_share_link }}",
              "type": "string"
            },
            {
              "id": "7cae757f-e7c1-4d4c-b756-c67a58258d8a",
              "name": "document.preview_url",
              "value": "={{ $json.document.preview_url }}",
              "type": "string"
            },
            {
              "id": "4266416e-a8ee-401a-b2f0-bca0d4dd2ad5",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4592,
        -480
      ],
      "id": "2283143b-fd0e-4906-8122-327a0db468d6",
      "name": "Getting documentation Links"
    },
    {
      "parameters": {
        "path": "94d180ab-7879-4c9f-bfe6-2b1c650183bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5344,
        -624
      ],
      "id": "96180e9a-b9f9-424f-8204-1e01d20929a2",
      "name": "Trigger when the Generate Invoice Button is pressed",
      "webhookId": "94d180ab-7879-4c9f-bfe6-2b1c650183bf"
    },
    {
      "parameters": {
        "path": "1caf63d0-ba12-4b46-94b0-32f682ba5e00",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4992,
        -16
      ],
      "id": "a50c70ad-ae45-467f-85cd-809bfe81c2e7",
      "name": "Trigger when the send feedback button is pressed",
      "webhookId": "1caf63d0-ba12-4b46-94b0-32f682ba5e00"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.query.client_email }}",
        "subject": "Thank You – We'd Appreciate Your Feedback",
        "emailType": "text",
        "message": "=Hi {{ $json.query.client_name }},\n\nThank you once again for your trust in Tech Savory. We’re glad to have successfully completed and delivered your project.\n\nTo help us continue improving our services, we’d be grateful if you could take a moment to fill out this short feedback form:\n\n🔗 Feedback Form: https://form.typeform.com/to/tOvfcp61\n\nYour honest feedback helps us grow and serve you better in the future.\n\nWe truly appreciate your time!\n\nWarm regards,\nProject Manager\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -4688,
        -16
      ],
      "id": "9cbcaa07-460e-48a2-9e77-4cdedccd2c82",
      "name": "Sending feedback form",
      "webhookId": "fbed934c-8c4b-48a9-95ee-3c7fe7b090b5"
    },
    {
      "parameters": {
        "formId": "tOvfcp61"
      },
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        -5152,
        416
      ],
      "id": "6fce1b02-7428-4a98-8f2f-a9572953c2bf",
      "name": "Trigger for Feedback Form",
      "webhookId": "2e103538-d457-40e5-9ffd-18b1e28bcb11"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblPZ9YBNGjWy6HFb",
          "mode": "list",
          "cachedResultName": "All Projects List",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblPZ9YBNGjWy6HFb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email?": "={{ $json[\"Your Email?\"] }}",
            "Feedback of User": "=Service Feedback:\n1. What you liked: {{ $json['How was the service provided by us? (What you liked about our service)'] }}\n\"2. Value provided: {{ $json['What value does our service provided to you?'] }} \n\"3. Suggestions: {{ $json['Any Improvement Suggestions?'] }}"
          },
          "matchingColumns": [
            "Email?"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client - Project",
              "displayName": "Client - Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Name?",
              "displayName": "Project Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Full Name?",
              "displayName": "Client Full Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role of the Contact Person?",
              "displayName": "Role of the Contact Person?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email?",
              "displayName": "Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name?",
              "displayName": "Company Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Date of Project?",
              "displayName": "Start Date of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deadline of Project?",
              "displayName": "Deadline of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Budget?",
              "displayName": "Budget?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Currency Type",
              "displayName": "Currency Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Status?",
              "displayName": "Invoice Status?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice ID",
              "displayName": "Invoice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel Link",
              "displayName": "Slack Channel Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Drive Folder Link?",
              "displayName": "Drive Folder Link?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel ID",
              "displayName": "Slack Channel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VAT number",
              "displayName": "VAT number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Objective?",
              "displayName": "Project Objective?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Account ID",
              "displayName": "Invoice Account ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "is_in_workspace?",
              "displayName": "is_in_workspace?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Id",
              "displayName": "Slack Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Task Table",
              "displayName": "Task Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Task",
              "displayName": "Total Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Completed Task",
              "displayName": "Completed Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Task in Progress",
              "displayName": "Task in Progress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Project Percentage?",
              "displayName": "Project Percentage?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Progress Bar",
              "displayName": "Progress Bar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Update Sent",
              "displayName": "Last Update Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Update Ready",
              "displayName": "Update Ready",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "All Task Summary",
              "displayName": "All Task Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "City/Town",
              "displayName": "City/Town",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "State/Province/Region",
              "displayName": "State/Province/Region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zip/Postal Code",
              "displayName": "Zip/Postal Code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Billing Email?",
              "displayName": "Billing Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Address",
              "displayName": "Invoice Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Generate Invoice?",
              "displayName": "Generate Invoice?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Feedback Form",
              "displayName": "Send Feedback Form",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Feedback of User",
              "displayName": "Feedback of User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -4800,
        416
      ],
      "id": "9428686e-cb83-485c-8507-483cf18402dd",
      "name": "Update the Feedback and marked project as completed"
    },
    {
      "parameters": {
        "content": "# 💳 Workflow 4: Automated Invoice Generation via Airtable + PDFMonkey  \n\n## 🛠️ How the Invoice Trigger Works  \n\n## 🚀 Invoice Process  \n1. **Webhook Node**  \n   - Airtable checks the **Project Percentage** field.  \n   - If `= 100%` → **Generate Invoice button** is available.  \n   - When pressed, Airtable sends the project data to n8n via a **Webhook**.  \n   - Captures important project fields (Client name, Email, Project ID, Price, etc.).  \n\n2. **PDFMonkey - Create Invoice**  \n   - Use an **HTTP POST** request to PDFMonkey.  \n   - Send captured data from Airtable.  \n   - Include a variable `status: pending` to indicate invoice creation.  \n\n3. **PDFMonkey - Retrieve Invoice PDF**  \n   - Use an **HTTP GET** request with the document ID from the POST step.  \n   - Retrieve invoice file links:  \n     - 📥 Downloadable PDF URL  \n     - 🌐 Public share link  \n\n4. **Merge + Flatten**  \n   - Merge the invoice URLs with Airtable record data.  \n   - Flatten into a single array for clean mapping.  \n\n5. **Email Client**  \n   - Use **Gmail Node** to send the invoice PDF as an attachment.  \n   - Subject: “Your Project Invoice from [Company]”  \n   - Body: includes public invoice link + payment instructions.  \n\n6. **Slack Notification**  \n   - From the same flattened data, send a Slack message to the client’s private channel:  \n     - “✅ Your project is now **100% complete**. An invoice has been generated and sent to your email.”  ",
        "height": 880,
        "width": 2288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5856,
        -992
      ],
      "typeVersion": 1,
      "id": "486effb6-005f-4616-8a70-a1c9c5fb5752",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed7d0387-59bd-47f2-9c0b-731396c9bd90",
              "name": "query.record_id",
              "value": "={{ $json.query.record_id }}",
              "type": "string"
            },
            {
              "id": "247c0707-b65b-43c5-b4b2-c479df9d19be",
              "name": "query.client_name",
              "value": "={{ $json.query.client_name }}",
              "type": "string"
            },
            {
              "id": "9a8282bf-dc27-4ec6-a7b6-fdfd0c281bae",
              "name": "query.client_email",
              "value": "={{ $json.query.client_email }}",
              "type": "string"
            },
            {
              "id": "afd8fa65-3638-4944-b3e3-a396f9f8c7e4",
              "name": "query.address",
              "value": "={{ $json.query.address }}",
              "type": "string"
            },
            {
              "id": "1f0e5bd7-0cbc-4252-916c-d3d8459ac29b",
              "name": "query.project_budget",
              "value": "={{ $json.query.project_budget }}",
              "type": "string"
            },
            {
              "id": "1c6ed10c-02f1-4954-b1eb-466677e5a642",
              "name": "query.currency_type",
              "value": "={{ $json.query.currency_type }}",
              "type": "string"
            },
            {
              "id": "aa101c63-23c7-40ea-a37d-1e9be6e97c31",
              "name": "query.vat_number",
              "value": "={{ $json.query.vat_number }}",
              "type": "string"
            },
            {
              "id": "c596c0ba-17e1-4214-8549-6a3c7937772e",
              "name": "query.zip_postal_code",
              "value": "={{ $json.query.zip_postal_code }}",
              "type": "string"
            },
            {
              "id": "2a2bf755-08bc-423f-8e13-0d2e377ed3e0",
              "name": "query.country",
              "value": "={{ $json.query.country }}",
              "type": "string"
            },
            {
              "id": "614545fd-74ad-4d25-9f75-9bc03c2295fb",
              "name": "query.contact_email",
              "value": "={{ $json.query.contact_email }}",
              "type": "string"
            },
            {
              "id": "e68d8da6-d360-4521-8f54-e447ad825510",
              "name": "slack_channel_ID",
              "value": "={{ $json.query.slack_channel_id }}",
              "type": "string"
            },
            {
              "id": "44f06ea3-0589-4f28-a100-29c601083252",
              "name": "slack_channel_link",
              "value": "={{ $json.query.slack_channel_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5152,
        -624
      ],
      "id": "68bc383f-031f-4186-9e85-1825ee66d5b1",
      "name": "Extract Important Data"
    },
    {
      "parameters": {
        "content": "# 📩 Workflow 5: Send Feedback Form after Invoice Paid  \n\n## 🚀 Process  \n1. **Webhook Node**  \n   - In Airtable, once the **Invoice Status = Paid**, the **Send Feedback** button becomes active.  \n   - When pressed, Airtable triggers a **Webhook** in n8n. \n   - Webhook Captures client details from Airtable (Name, Email, Project ID).  \n\n2. **Send Feedback Email (Gmail Node)**  \n   - Subject: “We’d love your feedback on [Project Name]”  \n   - Body: Includes a link to the **Typeform feedback survey**.  \n   - Sent directly to the client’s email.  \n\n# 📝 Workflow 6: Process Feedback Submission via Typeform  \n\n\n## 🚀 Process  \n1. **Typeform Trigger Node**  \n    - A client submits the **Typeform feedback survey**.  \n    - The **Typeform Trigger Node** activates in n8n.  \n    - Captures feedback responses along with the client’s email.  \n\n2. **Airtable Lookup**  \n   - Find the corresponding record in Airtable using the client’s email.  \n\n3. **Update Airtable Record**  \n   - Save the feedback answers into the record.  \n   - Update project status:  \n     - `Project Status = Closed`  \n     - `Feedback = [Responses from Typeform]`  \n\n\n",
        "height": 768,
        "width": 2288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5952,
        -80
      ],
      "typeVersion": 1,
      "id": "8f210253-8cff-4224-8fec-ba7e09aeb983",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5456,
        -9520
      ],
      "id": "d28fb2e9-03b0-44d3-b006-9157f917b225",
      "name": "Loop over each Task Created"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\n// 1. Grab the incoming data (can be object, array, or string)\nlet raw = $input.first().json.content.parts[0].text;\n\n// 2. Parse if it's a string\nif (typeof raw === \"string\") {\n  try {\n    raw = JSON.parse(raw);\n  } catch (e) {\n    throw new Error(\"Input is not valid JSON: \" + raw);\n  }\n}\n\n// 3. If it's a single object, wrap it in an array\nif (!Array.isArray(raw)) {\n  raw = [raw];\n}\n\n// 4. Clean each task, keeping only the needed fields\nconst cleaned = raw.map(task => ({\n  \"Task Name\": task[\"Task Name\"] || \"\",\n  \"Assigned To\": task[\"Assigned To\"] || \"\",\n  \"Status\": task[\"Status\"] || \"Not started\",\n  \"Due Date\": task[\"Due Date\"] || \" \",\n  \"Client-Project\": task[\"Client-Project\"] || \"\"\n}));\n\n// 5. Return as n8n array of items\nreturn cleaned.map(t => ({ json: t }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5696,
        -9520
      ],
      "id": "14a7b20b-6846-4101-9dde-e1518b92392f",
      "name": "Restructure the Output"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Project Name: {{ $json.fields['Project Name?'] }}\nProject Objective: {{ $json.fields['Project Objective?'] }}\nProject Deadline: {{ $json.fields['Deadline of Project?'] }}\nProject Status: {{ $json.fields['Project Status'] }}\nClient-Project: {{ $json.fields['Client - Project'] }}"
            },
            {
              "content": "=Role:\nYou are an AI project assistant that creates a list of default project tasks.\n\nExpectation:\nEach time a new project is created, you should return a clear, structured set of tasks.\n\nAction:\nGenerate a task list based on the project type, with fields:\n\ni) Task Name.\n\nii) Assigned To (based on role: e.g. PM, Designer, Ops)\n\niii) Status = “Not started” (default)\n\niv) Due Date = relative to project start date\n\nv) Client-Project: {{ $json.fields['Client - Project'] }}\n\nContext:\n\nThis is part of an onboarding automation system where tasks must be tracked in Airtable. Each task will be linked to a project.\n\nTarget:\n\nProvide a short, actionable list of tasks (3–6 items) depending on the project type.\n\nExample (for mock data):\n\nWebsite Project\n\ni) Kickoff Call → Assigned to PM → Status: Not started → Due: +2 days from start\n\nii) Create Drive Folder → Assigned to Ops → Status: Not started → Due: +1 day from start\n\niii) First Draft Design → Assigned to Designer → Status: Not started → Due: +5 days from start\n\nMarketing Project\n\ni) Kickoff Call → Assigned to PM → Status: Not started → Due: +2 days\n\nii) Campaign Strategy Draft → Assigned to Marketing Lead → Status: Not started → Due: +5 days\n\niii) Asset Creation → Assigned to Designer → Status: Not started → Due: +7 days\n\n\nExample of Output Format(Make the output same as it is): \nNote: I want output exactly in this format.\n[\n  {\n    \"Client-Project\" : \"{{ $json.fields['Client - Project'] }}\",\n    \"Task Name\": \"Kickoff Call\",\n    \"Assigned To\": \"PM\",\n    \"Status\": \"Not started\",\n    \"Due Date\": \"MM/DD/YYYY\"\n  },\n  {\n    \"Client-Project\" : \"{{ $json.fields['Client - Project'] }}\",\n    \"Task Name\": \"Create Drive Folder\",\n    \"Assigned To\": \"Ops\",\n    \"Status\": \"Not started\",\n    \"Due Date\": \"MM/DD/YYYY\"\n  },\n  {\n    \"Client-Project\" : \"{{ $json.fields['Client - Project'] }}\",\n    \"Task Name\": \"First Draft Design\",\n    \"Assigned To\": \"Designer\",\n    \"Status\": \"Not started\",\n    \"Due Date\": \"MM/DD/YYYY\"\n  }\n]\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -6080,
        -9520
      ],
      "id": "0cc0cc93-c520-44bd-85c5-5015bb30c0b3",
      "name": "Generate Task name and deadlines and assignment related to the project (PS: Here you had to change the Prompt and give it your own) ",
      "credentials": {
        "googlePalmApi": {
          "id": "mHHqI0UhdrDzufJJ",
          "name": "Second Account API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblPZ9YBNGjWy6HFb",
          "mode": "list",
          "cachedResultName": "All Projects List",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblPZ9YBNGjWy6HFb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client - Project": "={{ $json[\"Full Name?\"] }} | {{ $json[\"Project Name?\"] }}",
            "Client Full Name?": "={{ $json[\"Full Name?\"] }}",
            "Role of the Contact Person?": "={{ $json[\"Role of the Contact Person?\"] }}",
            "Project Name?": "={{ $json[\"Project Name?\"] }}",
            "Email?": "={{ $json[\"Contact Email?\"] }}",
            "Company Name?": "={{ $json[\"Company Name?\"] }}",
            "Start Date of Project?": "={{ $json[\"Project Start date?\"] }}",
            "Deadline of Project?": "={{ $json[\"Project Deadline?\"] }}",
            "Currency Type": "={{ $json[\"Currency Type?\"] }}",
            "Invoice Status?": "Pending",
            "Phone No": "={{ $json[\"Your Phone No?\"] }}",
            "VAT number": "={{ $json[\"VAT Number (If Applicable)?\"] }}",
            "Project Objective?": "={{ $json[\"Project Objective?\"] }}",
            "Company Website": "={{ $json[\"Company Website? \"] }}",
            "Address": "={{ $json.Address }}",
            "City/Town": "={{ $json[\"City/Town\"] }}",
            "State/Province/Region": "={{ $json[\"State/Region/Province\"] }}",
            "Zip/Postal Code": "={{ $json[\"Zip/Post Code\"] }}",
            "Country": "={{ $json.Country }}",
            "Billing Email?": "={{ $json[\"Billing Email Address?\"] }}",
            "Invoice Address": "={{ $json.Address }},{{ $json[\"City/Town\"] }}, {{ $json[\"State/Region/Province\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client - Project",
              "displayName": "Client - Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Name?",
              "displayName": "Project Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client Full Name?",
              "displayName": "Client Full Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role of the Contact Person?",
              "displayName": "Role of the Contact Person?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email?",
              "displayName": "Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name?",
              "displayName": "Company Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Date of Project?",
              "displayName": "Start Date of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Deadline of Project?",
              "displayName": "Deadline of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget?",
              "displayName": "Budget?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Currency Type",
              "displayName": "Currency Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Status?",
              "displayName": "Invoice Status?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Sent",
                  "value": "Sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice ID",
              "displayName": "Invoice ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel Link",
              "displayName": "Slack Channel Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Drive Folder Link?",
              "displayName": "Drive Folder Link?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel ID",
              "displayName": "Slack Channel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "VAT number",
              "displayName": "VAT number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Objective?",
              "displayName": "Project Objective?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Account ID",
              "displayName": "Invoice Account ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "is_in_workspace?",
              "displayName": "is_in_workspace?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Id",
              "displayName": "Slack Id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Task Table",
              "displayName": "Task Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total Task",
              "displayName": "Total Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Completed Task",
              "displayName": "Completed Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Task in Progress",
              "displayName": "Task in Progress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Project Percentage?",
              "displayName": "Project Percentage?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Progress Bar",
              "displayName": "Progress Bar",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Update Sent",
              "displayName": "Last Update Sent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Update Ready",
              "displayName": "Update Ready",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "All Task Summary",
              "displayName": "All Task Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "City/Town",
              "displayName": "City/Town",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "State/Province/Region",
              "displayName": "State/Province/Region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zip/Postal Code",
              "displayName": "Zip/Postal Code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Billing Email?",
              "displayName": "Billing Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Invoice Address",
              "displayName": "Invoice Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Generate Invoice?",
              "displayName": "Generate Invoice?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Send Feedback Form",
              "displayName": "Send Feedback Form",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Feedback of User",
              "displayName": "Feedback of User",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -6464,
        -9488
      ],
      "id": "7096e127-f66f-4168-81c1-87c84fe96279",
      "name": "Add all the details to the Airtable"
    },
    {
      "parameters": {
        "formId": "rXe8Ljt3"
      },
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        -7984,
        -9200
      ],
      "id": "31a2d879-3e60-4ac6-8c82-18ae0e887a13",
      "name": "Form Trigger ",
      "webhookId": "774e713f-8454-446c-b121-594f4614a278"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json['Full Name?'] }} | {{ $json['Project Name?'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6656,
        -9040
      ],
      "id": "1c5d6f8c-978f-4d77-9b95-ac2bb79ec76e",
      "name": "Create the folder for the client"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a8a560a-c84c-4928-b476-8a61fc7f6497",
              "name": "Airtable ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6112,
        -9360
      ],
      "id": "bf045c97-da97-4f04-98c3-18a97918244d",
      "name": "Extract Airtable ID "
    },
    {
      "parameters": {
        "jsCode": "// Merge all JSON objects into one without explicit loops\nconst merged = Object.assign({}, ...items.map(item => item.json));\n\nreturn [{ json: merged }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5744,
        -8976
      ],
      "id": "8ee7f629-dac0-41e3-b90d-ae7027cb3e5b",
      "name": "Flatten done into one single Array1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -5248,
        -9584
      ],
      "id": "d6ba45a5-3a61-43ad-9a3f-ae4846799b8d",
      "name": "Flag to indicate Loop is over"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblvUKc4c0lKgCVnj",
          "mode": "list",
          "cachedResultName": "Task Table",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblvUKc4c0lKgCVnj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client - Project": "={{ $json[\"Client-Project\"] }}",
            "Task Name": "={{ $json[\"Task Name\"] }}",
            "Assigned to": "={{ $json[\"Assigned To\"] }}",
            "Status": "={{ $json.Status }}",
            "Due Date": "={{ $json[\"Due Date\"] }}",
            "Linked Project": "={{ $json[\"Client-Project\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client - Project",
              "displayName": "Client - Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Task Name",
              "displayName": "Task Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned to",
              "displayName": "Assigned to",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not Started",
                  "value": "Not Started"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Linked Project",
              "displayName": "Linked Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client - Project (from Linked Project)",
              "displayName": "Client - Project (from Linked Project)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Client Full Name? (from Linked Project)",
              "displayName": "Client Full Name? (from Linked Project)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -5216,
        -9408
      ],
      "id": "d43b3e02-db84-4247-b73b-ae3151edbc64",
      "name": "Add the Task created into the database"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4752,
        -9392
      ],
      "id": "5dcb2d64-65fa-4f9f-a273-81f0e748bf08",
      "name": "Wait for few seconds ",
      "webhookId": "b615b038-8e7c-4c68-9e13-cf7d44bcb470"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52e49bfb-633c-4311-bfa8-f852588d90ae",
              "name": "Full Name?",
              "value": "={{ $json['Full Name?'] }}",
              "type": "string"
            },
            {
              "id": "120438e8-3480-420c-ac29-71b3fbb3293e",
              "name": "Status?",
              "value": "={{ $json['Status?'] }}",
              "type": "string"
            },
            {
              "id": "4e2607a8-2844-40be-8813-b24538679bf1",
              "name": "Contact Email?",
              "value": "={{ $json['Contact Email?'] }}",
              "type": "string"
            },
            {
              "id": "5838f533-2e67-4ea9-8fec-491396f2240b",
              "name": "Company Name?",
              "value": "={{ $json['Company Name?'] }}",
              "type": "string"
            },
            {
              "id": "50e8d521-d07a-4c47-abd6-4af574a836f8",
              "name": "Project Name?",
              "value": "={{ $json['Project Name?'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6976,
        -8912
      ],
      "id": "5600c16f-47ad-4b1b-9728-43eb6aa10f23",
      "name": "Extract only Important Variable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4754f34d-063a-4d20-91cb-ad087086fd3d",
              "name": "Drive Link",
              "value": "=https://drive.google.com/drive/folders/{{ $json.id }}",
              "type": "string"
            },
            {
              "id": "20bb31b5-22bf-4e05-80c7-4aabd892a9e5",
              "name": "Drive ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c3301713-1a27-4a28-a656-929ab5c955d5",
              "name": "Drive Name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6400,
        -9040
      ],
      "id": "9b73498b-17ad-42d2-9da0-3aa706079a86",
      "name": "Extract Drive Folder Link and Id"
    },
    {
      "parameters": {
        "resource": "channel",
        "channelId": "={{ ($json[\"Full Name?\"] + \"-\" + $json[\"Project Name?\"])\n.toLowerCase()\n.replace(/[^a-z0-9-]/g, '') // keep only allowed chars\n.replace(/[-]+/g, '-') // collapse repeats\n.replace(/^-+|-+$/g, '') // trim leading/trailing dashes\n.slice(0,80) // enforce 80 char limit\n}}",
        "channelVisibility": "private"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -6656,
        -8592
      ],
      "id": "0025a3a7-0a3b-40f7-bde7-adecd7b8175a",
      "name": "Create a private channel for the client",
      "webhookId": "4e1a19e6-5b1a-4fa2-8408-a7c06481d54c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/conversations.invite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.id }}\",\n  \"users\": \"U09G3QZSC3C\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6384,
        -8816
      ],
      "id": "11baf156-26ea-47d1-a471-0629a7fdc512",
      "name": "Add Owner to the Private Slack Channel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3150b793-5f4b-436d-8cea-ce545d5dd441",
              "name": "Channel Id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "0ecf00ff-8db0-4eaa-a85c-c151b8aa65b1",
              "name": "Workspace Link:",
              "value": "=https://join.slack.com/t/clientonboard-jqv6374/shared_invite/zt-3dnj2je5j-8kXIXy3p7Erxk415ZtK3yQ",
              "type": "string"
            },
            {
              "id": "bbd4af62-b908-4ef7-900a-f23ba41e6c4c",
              "name": "Channel Name:",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "c9bf9f68-8de4-40d0-9723-82900dba61dd",
              "name": "Team ID:",
              "value": "={{ $json.shared_team_ids[0] }}",
              "type": "string"
            },
            {
              "id": "2f68c723-1fa5-40f2-b1c8-998851fd2e4b",
              "name": "Channel Link",
              "value": "=https://app.slack.com/client/{{ $json.shared_team_ids }}/{{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6384,
        -8640
      ],
      "id": "9ba9eb08-ef65-473f-8f52-271654b2feac",
      "name": "Extract Channel and Workspace Link"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5936,
        -8960
      ],
      "id": "0b8a5975-9f9c-43b2-b614-c5c1a7164d8e",
      "name": "Merge all the outputs "
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apphS6ToxyfpgZ1qh",
          "mode": "list",
          "cachedResultName": "Client Onboarding System",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh"
        },
        "table": {
          "__rl": true,
          "value": "tblPZ9YBNGjWy6HFb",
          "mode": "list",
          "cachedResultName": "All Projects List",
          "cachedResultUrl": "https://airtable.com/apphS6ToxyfpgZ1qh/tblPZ9YBNGjWy6HFb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json[\"Airtable ID\"] }}",
            "Drive Folder Link?": "={{ $json[\"Drive Link\"] }}",
            "Slack Channel Link": "={{ $json[\"Channel Link\"] }}",
            "Slack Channel ID": "={{ $json[\"Channel Id\"] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Client - Project",
              "displayName": "Client - Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Name?",
              "displayName": "Project Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Client Full Name?",
              "displayName": "Client Full Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role of the Contact Person?",
              "displayName": "Role of the Contact Person?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email?",
              "displayName": "Email?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Name?",
              "displayName": "Company Name?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Start Date of Project?",
              "displayName": "Start Date of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Deadline of Project?",
              "displayName": "Deadline of Project?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Budget?",
              "displayName": "Budget?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Initial Deposit?",
              "displayName": "Initial Deposit?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Invoice Status?",
              "displayName": "Invoice Status?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Pending",
                  "value": "Pending"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Slack Channel Link",
              "displayName": "Slack Channel Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Drive Folder Link?",
              "displayName": "Drive Folder Link?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Slack Channel ID",
              "displayName": "Slack Channel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Status",
              "displayName": "Project Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone No",
              "displayName": "Phone No",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "VAT number",
              "displayName": "VAT number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Project Objective?",
              "displayName": "Project Objective?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Company Website",
              "displayName": "Company Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Task Table",
              "displayName": "Task Table",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -5376,
        -9104
      ],
      "id": "80d0cd58-337c-44cd-9391-6aa409880852",
      "name": "Add the Drive, Channel Link to the Client Record"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "share",
        "folderNoRootId": {
          "__rl": true,
          "value": "={{ $json['Drive ID'] }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "user",
            "emailAddress": "={{ $json['Contact Email?'] }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5376,
        -8880
      ],
      "id": "94d6f9c0-10ac-434d-a215-bb66d7c90221",
      "name": "Share the folder to the client"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Contact Email?'] }}",
        "subject": "=Onboarding 🚀: Slack Workspace and Drive Links for You",
        "emailType": "text",
        "message": "=Hi {{ $json['Full Name?'] }},\n\nWelcome! To get things started, please use the links below to ensure everything is working correctly:\n\nWorkspace Invite: {{ $json['Workspace Link:'] }}\nThis link will allow you to join our Slack workspace. Once you're in, we’ll add you to your dedicated private channel for streamlined communication with our team.\n\nDrive Link: {{ $json['Drive Link'] }}\nThis is your shared Drive folder. You can use it to upload or access any relevant documents we may need throughout the project.\n\n\nThans for your time.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -5360,
        -8688
      ],
      "id": "75c29642-dc5f-45c9-9174-fe6eaac5da43",
      "name": "Onboarding Email",
      "webhookId": "8fd65734-d077-421b-aa45-8fe5a4bb5458"
    },
    {
      "parameters": {
        "content": "## **Typeform Trigger**\n****",
        "height": 208,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8048,
        -9264
      ],
      "typeVersion": 1,
      "id": "b874d836-130d-4833-ae03-3659a3e216de",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## **📊 Response → Airtable**\n\n1. **Form Data Storage**  \n   - Incoming client responses are written into **Airtable** (`All Project List` table).  \n   - Captured fields: `Name`, `Email`, `Project Type`, `Notes`.  \n\n2. **Task Generation (LLM)**  \n   - Client project details are passed to an **LLM** prompt to auto-generate a structured **task list**.  \n   - Prompt must be customized to your project needs (define variables clearly).  \n\n3. **Output Formatting**  \n   - Since LLM responses can be inconsistent (e.g., dumping multiple fields into one string), a **Code node** restructures the output.  \n   - Reformatted tasks are pushed into **Airtable** (`Tasks` table) with clean variables.  \n4. **Extract Airtbale ID for further use**\n   - We also extracted the ID using the set node and passed it to the merge node for further use.\n\n  - \n> **Maintenance Note:**  \n> If Airtable schema or LLM prompt structure changes, update both the mapping node and the post-processing code.\n",
        "height": 832,
        "width": 976,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6496,
        -10000
      ],
      "typeVersion": 1,
      "id": "4ae294cc-4e4f-4003-beb8-91ce6007d1cf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 📊 Loop over the task created via LLM for the Project → Store them into Airtable (New table name \" Task Table \", not the old one \" All Project List \")\n\n",
        "height": 512,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5504,
        -9680
      ],
      "typeVersion": 1,
      "id": "a14a9f16-aade-41fa-8bf0-b7880a1accd2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# 📂 Slack & Drive Setup → Client Record Update  \n\n## 1. Extract Variables  \n- Select only the required client details (name, email, project name, Objective, Company name, Status) for folder/channel creation.  \n\n## 2. Google Drive Setup  \n- Create a **new folder** for the client.  \n- Enable Sharing of Folder with that Client.  \n\n## 3. Slack Setup  \n- Create a **private Slack channel** for the client via Bot.  \n- Add the required owner(s) to the channel.  \n- Extract the **Channel ID** and **Workspace ID** for later use.  \n\n## 4. Merge Outputs  \n- Combine Drive folder link + Slack channel info into one dataset.  \n- Flatten into a clean array for easier handling.  \n\n## 5. Update Airtable Client Record  \n- Store the Drive link and Slack channel link in the client’s Airtable record.  \n\n## 6. Share Resources with Client  \n- Share the Google Drive folder directly with the client.  \n- Send an **onboarding email** containing:  \n  - Drive folder link  \n  - Slack Workspace link (Because client had to be in your workspace for adding in to their private channel)  \n\n---\n\n### ⚙️ Maintenance Note  \n- No LLM is used in this step since the **welcome email** is a standardized template (Because I think it's redundant to use LLM here).  \n- Keeps the process **lightweight** and **scalable** for every new client.  \n- If personalization is later required (e.g., tailoring based on project type), consider adding LLM here — but keep it optional.  \n",
        "height": 960,
        "width": 1344,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7456,
        -9280
      ],
      "typeVersion": 1,
      "id": "07e2fc8d-9db0-44c7-929a-296102eeb12a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "#  📊 Workflow 1: Client Onboarding Automation Workflow  \n\n## This workflow automates the **entire client onboarding process**, including:  \n- ## Adding the client to **Slack**. \n- ## Creating and storing records in **Airtable**.\n- ## Generating structured **project tasks**.  \n- ## Creating a dedicated **Google Drive folder**.  \n- ## Sharing all relevant resources with the client.  \n",
        "height": 416,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7728,
        -9968
      ],
      "typeVersion": 1,
      "id": "04ec3774-a25a-491c-b396-6bb4aa9b0efb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4768,
        -8960
      ],
      "id": "78d7ccd0-a660-42e2-8911-6e14f6b16f61",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4992,
        -8992
      ],
      "id": "6101237d-1220-491f-bcb3-0a2c76232522",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get only those records which aren't in their private channel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Extract record id, Slack channel id and link, email, client name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten done into one single Array4": {
      "main": [
        [
          {
            "node": "Check if the user is already in the workspace or not1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get only those records which aren't in their private channel1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract record id, Slack channel id and link, email, client name1": {
      "main": [
        [
          {
            "node": "Get the user Slack ID1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get the user Slack ID1": {
      "main": [
        [
          {
            "node": "Extract Slack ID of User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Slack ID of User1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Flatten done into one single Array4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Slack ID and flag add to the channel of the record1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Add the Client To the Private Slack Channel1": {
      "main": [
        [
          {
            "node": "Post Welcome Message to Channel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Welcome Message to Channel1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email them their Private Channel Link1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check if the user is already in the workspace or not1": {
      "main": [
        [
          {
            "node": "Add the Client To the Private Slack Channel1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email them their Private Channel Link1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Slack ID and flag add to the channel of the record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remind Client to join the workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten done into one single Array5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Flatten done into one single Array5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remind Client to join the workspace": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Flatten done into one single Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten done into one single Array": {
      "main": [
        [
          {
            "node": "Sending Invoice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sending Message that their project is completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weekly Update ": {
      "main": [
        [
          {
            "node": "Restructured the Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restructured the Message": {
      "main": [
        [
          {
            "node": "Send Weekly Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Weekly Update": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over all Records": {
      "main": [
        [],
        [
          {
            "node": "Check if the Weekly Update is ready or not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the Weekly Update is ready or not": {
      "main": [
        [
          {
            "node": "Update Last date of weekly update sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last date of weekly update sent": {
      "main": [
        [
          {
            "node": "Generate Weekly Update ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop over all Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop over all Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger(You can adjust it on your own)": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop over all Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Data to produce Invoice": {
      "main": [
        [
          {
            "node": "Getting Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Invoice": {
      "main": [
        [
          {
            "node": "Getting documentation Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting documentation Links": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trigger when the Generate Invoice Button is pressed": {
      "main": [
        [
          {
            "node": "Extract Important Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger when the send feedback button is pressed": {
      "main": [
        [
          {
            "node": "Sending feedback form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger for Feedback Form": {
      "main": [
        [
          {
            "node": "Update the Feedback and marked project as completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Important Data": {
      "main": [
        [
          {
            "node": "Sending Data to produce Invoice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over each Task Created": {
      "main": [
        [
          {
            "node": "Flag to indicate Loop is over",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add the Task created into the database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restructure the Output": {
      "main": [
        [
          {
            "node": "Loop over each Task Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Task name and deadlines and assignment related to the project (PS: Here you had to change the Prompt and give it your own) ": {
      "main": [
        [
          {
            "node": "Restructure the Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add all the details to the Airtable": {
      "main": [
        [
          {
            "node": "Generate Task name and deadlines and assignment related to the project (PS: Here you had to change the Prompt and give it your own) ",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Airtable ID ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger ": {
      "main": [
        [
          {
            "node": "Add all the details to the Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract only Important Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create the folder for the client": {
      "main": [
        [
          {
            "node": "Extract Drive Folder Link and Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Airtable ID ": {
      "main": [
        [
          {
            "node": "Merge all the outputs ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten done into one single Array1": {
      "main": [
        [
          {
            "node": "Add the Drive, Channel Link to the Client Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Share the folder to the client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Onboarding Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add the Task created into the database": {
      "main": [
        [
          {
            "node": "Wait for few seconds ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for few seconds ": {
      "main": [
        [
          {
            "node": "Loop over each Task Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract only Important Variable": {
      "main": [
        [
          {
            "node": "Create the folder for the client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a private channel for the client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge all the outputs ",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create a private channel for the client": {
      "main": [
        [
          {
            "node": "Add Owner to the Private Slack Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Channel and Workspace Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Drive Folder Link and Id": {
      "main": [
        [
          {
            "node": "Merge all the outputs ",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Channel and Workspace Link": {
      "main": [
        [
          {
            "node": "Merge all the outputs ",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge all the outputs ": {
      "main": [
        [
          {
            "node": "Flatten done into one single Array1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag to indicate Loop is over": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add the Drive, Channel Link to the Client Record": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Share the folder to the client": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Onboarding Email": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95f702c9-384c-4262-a467-1602044d5001",
  "meta": {
    "instanceId": "533fe5175031be2920b57ac9a77dfa7c0297e32aee4cfa537612cab3b1e61491"
  },
  "id": "bc04eJfkrBsr5cgV",
  "tags": []
}